[submodule "uav_telemetry"]
	path = uav_telemetry
	url = https://github.com/CHZarles/uav_telemetry.git
	branch = master
[submodule "uav-media-info"]
	path = uav-media-info
	url = https://github.com/CHZarles/uav-media-info.git
	branch = master
